<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.hafidz.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LoginService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>com.hafidz.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/DashboardService</url-pattern>
  </servlet-mapping>
</web-app>





